<!-- slogen -->
  <div class=" bg-white p-4  rounded-lg">
  <p class="italic text-[#592f15]">"عيش تجربة الطعم الشرقي الأصيل مع كرم الشام!"</p>
</div>

 <!-- best seler -->
  <div class="my-6">
    <h3 class="text-amber-600 font-bold mb-2">الأكثر مبيعًا</h3>
  <ul class="space-y-2 text-sm">
    <li>🔥 وجبة ماريا شاورما دجاج</li>
    <li>🔥 فرخه بروستد</li>
    <li>🔥 ابن المعلم فراخ سوري</li>
  </ul>
  </div>

  <!-- happy meal -->
<div class=" bg-white p-4 shadow rounded">
  <h4 class="font-bold text-amber-600 mb-2">👨‍🍳 الشيف يرشح لك:</h4>
  <p>كوردون ماريا </p>
  <p>⭐⭐⭐⭐⭐</p>
</div>
<!-- Ready for parties -->
<div class="bg-gradient-to-l from-amber-500 to-[#592f15] text-white shadow-lg rounded-2xl p-6 w-full max-w-md mx-auto my-10">
  <h3 class="text-xl font-bold mb-3 flex items-center gap-2">
  
      🥂 جاهزون لحفلاتك
  </h3>
  <p class="text-sm leading-relaxed">
    نقدم تجهيزات متكاملة لجميع أنواع المناسبات — حفلات، أعياد ميلاد، خطوبات، وفعاليات خاصة.
    <br>
    استمتع بخدمة طعام احترافية وتوصيل في الوقت المحدد.
  </p>
  <button routerLink="/contact" class="mt-4 cursor-pointer bg-white text-[#592f15] font-bold px-5 py-2 rounded-lg text-sm hover:bg-amber-100 transition">
    احجز الآن
  </button>
</div>
<!-- Working Hours -->
  <div class=" bg-white shadow-xl rounded-2xl p-4  border border-amber-400 ">
  <div class="flex items-center gap-2 mb-2">
    ⏰
    <h4 class="text-amber-600 font-bold text-base">مواعيد العمل</h4>
  </div>
  <p class="text-sm text-gray-700 leading-relaxed">
    يوميًا من <span class="font-semibold text-black">10 صباحًا</span> إلى <span class="font-semibold text-black">2 بعد منتصف الليل </span><br>
    طوال أيام الأسبوع
  </p>
</div>
